## ------------------------------------------------------------------------------------------------
# Files created by development tools
/.idea/
*.iml
**/*.rs~
**/*.md~

## ------------------------------------------------------------------------------------------------
# Files created by cargo (build, fmt, make, etc.)
/.cargo
/target
/docs
Cargo.lock
**/*.rs.bk

## ------------------------------------------------------------------------------------------------
# Files required for CI integration (Travis)
/ci
